/** GENERALES **/

* {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

/** HEADER **/

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 100vw;
    z-index: 2;
}

#logo-home {
    width: 90px;
}

header>hr {
    border: 0;
    height: 1px;
    width: 60vw;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

nav {
    width: 280px;
    height: 40px;
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.25s ease;
}

nav:hover {
    cursor: pointer;
    width: 350px;
    height: 55px;
    transition: 0.25s ease;
}

.menu-item>a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-icon {
    width: 22px;
    transition: 0.25s ease;
}

.menu-icon:hover {
    cursor: pointer;
    width: 45px;
    transition: 0.25s ease;
}

/** MAIN **/

/* Section Cover */

#cover {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    flex-direction: column;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    mix-blend-mode: overlay;
}

.cover-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cover-tittle {
    color: white;
    font-size: 50px;
    position: relative;
    z-index: 2;
    text-align: center;
}

.tittle-description {
    font-size: 20px;
    position: relative;
    color: white;
    text-align: center;
}

.cover-arrow {
    position: absolute;
    opacity: 0.3;
    padding-top: 80vh;
}

.cover-arrow>a {
    display: flex;
    align-items: center;
}

.arrow {
    width: 80px;
    transition: 0.25s ease;
}

.arrow:hover {
    cursor: pointer;
    width: 90px;
    transition: 0.25s ease;
}

/* Section Me */

#me {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#me>p {
    color: white;
    width: 60vw;
    text-align: center;
    font-size: 25px;
    position: absolute;
    max-height: 192px;
}

.p-italic-bold {
    font-style: italic;
    font-weight: 700;
}